<component name="libraryTable">
  <library name="springframework.kafka.spring.test" type="repository">
    <properties maven-id="org.springframework.kafka:spring-kafka-test:3.0.4" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/kafka/spring-kafka-test/3.0.4/spring-kafka-test-3.0.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-context/6.0.6/spring-context-6.0.6.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-aop/6.0.6/spring-aop-6.0.6.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-beans/6.0.6/spring-beans-6.0.6.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/6.0.6/spring-core-6.0.6.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/6.0.6/spring-jcl-6.0.6.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-expression/6.0.6/spring-expression-6.0.6.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-test/6.0.6/spring-test-6.0.6.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/retry/spring-retry/2.0.0/spring-retry-2.0.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/zookeeper/zookeeper/3.6.3/zookeeper-3.6.3.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/zookeeper/zookeeper-jute/3.6.3/zookeeper-jute-3.6.3.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/yetus/audience-annotations/0.5.0/audience-annotations-0.5.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/io/netty/netty-handler/4.1.63.Final/netty-handler-4.1.63.Final.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/io/netty/netty-common/4.1.63.Final/netty-common-4.1.63.Final.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/io/netty/netty-resolver/4.1.63.Final/netty-resolver-4.1.63.Final.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/io/netty/netty-buffer/4.1.63.Final/netty-buffer-4.1.63.Final.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/io/netty/netty-transport/4.1.63.Final/netty-transport-4.1.63.Final.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/io/netty/netty-codec/4.1.63.Final/netty-codec-4.1.63.Final.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/io/netty/netty-transport-native-epoll/4.1.63.Final/netty-transport-native-epoll-4.1.63.Final.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/io/netty/netty-transport-native-unix-common/4.1.63.Final/netty-transport-native-unix-common-4.1.63.Final.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/slf4j/slf4j-api/1.7.25/slf4j-api-1.7.25.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/kafka/kafka-clients/3.3.2/kafka-clients-3.3.2-test.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/github/luben/zstd-jni/1.5.2-1/zstd-jni-1.5.2-1.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/lz4/lz4-java/1.8.0/lz4-java-1.8.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/xerial/snappy/snappy-java/1.1.8.4/snappy-java-1.1.8.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/kafka/kafka-metadata/3.3.2/kafka-metadata-3.3.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/kafka/kafka-server-common/3.3.2/kafka-server-common-3.3.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/kafka/kafka-clients/3.3.2/kafka-clients-3.3.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/kafka/kafka-raft/3.3.2/kafka-raft-3.3.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/fasterxml/jackson/core/jackson-databind/2.13.4.2/jackson-databind-2.13.4.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/fasterxml/jackson/core/jackson-annotations/2.13.4/jackson-annotations-2.13.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/fasterxml/jackson/core/jackson-core/2.13.4/jackson-core-2.13.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/fasterxml/jackson/datatype/jackson-datatype-jdk8/2.13.4/jackson-datatype-jdk8-2.13.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/yammer/metrics/metrics-core/2.2.0/metrics-core-2.2.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/kafka/kafka-streams-test-utils/3.3.2/kafka-streams-test-utils-3.3.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/kafka/kafka-streams/3.3.2/kafka-streams-3.3.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/rocksdb/rocksdbjni/7.1.2/rocksdbjni-7.1.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/kafka/kafka_2.13/3.3.2/kafka_2.13-3.3.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/scala-lang/scala-library/2.13.8/scala-library-2.13.8.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/kafka/kafka-storage/3.3.2/kafka-storage-3.3.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/kafka/kafka-storage-api/3.3.2/kafka-storage-api-3.3.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/net/sourceforge/argparse4j/argparse4j/0.7.0/argparse4j-0.7.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/fasterxml/jackson/module/jackson-module-scala_2.13/2.13.4/jackson-module-scala_2.13-2.13.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/thoughtworks/paranamer/paranamer/2.8/paranamer-2.8.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/fasterxml/jackson/dataformat/jackson-dataformat-csv/2.13.4/jackson-dataformat-csv-2.13.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/net/sf/jopt-simple/jopt-simple/5.0.4/jopt-simple-5.0.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/bitbucket/b_c/jose4j/0.7.9/jose4j-0.7.9.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/scala-lang/modules/scala-collection-compat_2.13/2.6.0/scala-collection-compat_2.13-2.6.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/scala-lang/modules/scala-java8-compat_2.13/1.0.2/scala-java8-compat_2.13-1.0.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/scala-lang/scala-reflect/2.13.8/scala-reflect-2.13.8.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/typesafe/scala-logging/scala-logging_2.13/3.9.4/scala-logging_2.13-3.9.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/io/dropwizard/metrics/metrics-core/4.1.12.1/metrics-core-4.1.12.1.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/commons-cli/commons-cli/1.4/commons-cli-1.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/kafka/kafka_2.13/3.3.2/kafka_2.13-3.3.2-test.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/junit/jupiter/junit-jupiter-api/5.9.1/junit-jupiter-api-5.9.1.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/opentest4j/opentest4j/1.2.0/opentest4j-1.2.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/junit/platform/junit-platform-commons/1.9.1/junit-platform-commons-1.9.1.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apiguardian/apiguardian-api/1.1.2/apiguardian-api-1.1.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/junit/platform/junit-platform-launcher/1.9.1/junit-platform-launcher-1.9.1.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/junit/platform/junit-platform-engine/1.9.1/junit-platform-engine-1.9.1.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/google/code/findbugs/jsr305/3.0.2/jsr305-3.0.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>